<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<body>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>package_name</th>
      <th>unique_devices</th>
    </tr>
  </thead>
  <tbody>
    <%if (devices.length >0){ %>
    <% devices.forEach(function(device){ %>
    <tr>
      <td><%= device._id %></td>
      <td><%= device.unique_devices %></td>
    </tr>
    <% })}%>
  </tbody>
</table>
</body>